<div class="d-inline-flex w-100">
    <div class="p-2 w-25 text-center" [routerLink]="['routeName']"><img style="width:3rem" src="assets/img/hometab.jpg"></div>
    <div class="p-2 w-25 text-center"><img style="width:3rem" src="assets/img/transactions.jpg"></div>
    <div class="p-2 w-25 text-center"><img style="width:3rem" src="assets/img/QualityFactor.jpg"></div>
    <div class="p-2 w-25 text-center">
      <div class="menu-dot-container">
      <div class="menu-dot"></div>
      <div class="menu-dot"></div>
      <div class="menu-dot"></div>
      <div class="menu-dot"></div>
    </div>
    </div>
  </div>