*{
    color: #ff7f00f2;
}

.active-selected-date{
    background-color: lightpink;

}

button {
    background-color: #ff7f0085 !important;
    color: white !important;
}

a{
    color: #ff7f00f2;
    text-decoration: underline;
}
  

table{
    border-collapse: separate;
}
  

tr th{
    font-weight: normal;
    height: 60px;
    background-color: #ff7f0042;
}
  