<div style="overflow: scroll;">
    <form>
        <div class="form-inline m-1" style="border-bottom: 1px solid lightgray">
          <div class="form-group mb-2 ml-2" style="margin-bottom: 0">
            <div class="form-check">
              <label class="form-check-label" for="exampleRadios1">
                Book Flights ->
              </label>
            </div>
          </div>
        </div>
        <div class="row m-1">
          <div class="col-md-12">
            <div class="form-inline">
                <div class="form-group" style="margin-bottom: 0">
                    <label for="inputAddress">JetBlue</label>
                    <img style="width: 10%" src="assets/img/jetbluelogo.png">
                  </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around">
          <div>Fri Jun 21</div>
          <div class="active-selected-date">Sat Jun 21</div>
          <div>Sun Jun 22</div>
          <div>Mon Jun 24</div>
        </div>
        <div>
          <table style="width:100%">
            <tr>
              <th>Departs</th>
              <th>Arrives</th>
              <th>Duration</th>
              <th>Price</th>
            </tr>
            <tbody>
              <tr>
                <td>05:59 AM JFK 1297 A320</td>
                <td>08:13 AM -> DEN</td>
                <td>4h 14m</td>
                <td>$274</td>
                <td style="width: 19%">Blue Fare Blue Plus (Look for Hotels)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group row" style="border-bottom: 1px solid lightgrey;margin-bottom: 0">
            <div class="col-sm-12">
              <div class="form-check">
                <label class="form-check-label" for="gridCheck1">
                  Enroll for Asset Sharing
                </label>
                <input class="form-check-input" style="margin-left: 0.4rem" type="checkbox" id="gridCheck1">
              </div>
            </div>
        </div>
        <div class="row m-1">
            <div class="col-md-12">
              <div class="form-inline">
                  <div class="form-group" style="margin-bottom: 0">
                      <label for="inputAddress">American Airlines</label>
                    </div>
              </div>
            </div>
          </div>
        <div>
            <table>
              <tr>
                <th>Departs</th>
                <th>Arrives</th>
                <th>Duration</th>
                <th>Price</th>
              </tr>
              <tbody>
                <tr>
                  <td>06:29 AM JFK 1297 A320</td>
                  <td>11:03 AM -> DEN</td>
                  <td>6h 34m</td>
                  <td>$277</td>
                  <td style="width: 19%">Basic Economy Advantage Plus(Look for Hotels)</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-group row" style="border-bottom: 1px solid lightgrey;margin-bottom: 0">
              <div class="col-sm-12">
                <div class="form-check">
                  <label class="form-check-label" for="gridCheck1">
                    Enroll for Asset Sharing
                  </label>
                  <input class="form-check-input" style="margin-left: 0.4rem" type="checkbox" id="gridCheck1">
                </div>
              </div>
          </div>
        
        <button type="button" (click)="navigateToTripPage()" class="btn btn-primary float-left ml-2">Previous</button>
        <button type="button" (click)="navigateToSharingPage()" class="btn btn-primary float-right mr-2">Next</button>
      </form>
</div>
