<div class="main">
    <p>Review trip details</p>
    <div>Your Flights: New York-Kennedy,JFK->Denver,DEN</div>
    <div>Depart: Staurday,Jun 22,2019</div><br>
    <div>
      <table style="width:100%"> 
        <tr> 
          <th>Date</th> 
          <th>Depart/ Arrives</th>  
          <th>Route</th> 
          <th>Flight/ Aircraft</th> 
          <th>Fare</th>
         
        </tr> 
        <tr> 
          <td>Sat,Jun 22 2019</td> 
          <td>5:59 AM 8:39 AM</td> 
          <td>New York-kennedy, NY(JFK) to Denver,CO(DEN)</td> 
          <td>1297 A320 Jetblue</td>
          <td>$274</td>
        </tr> 
        
          </table>
          <table style="width:80%"> 
            <tr> 
              <th>Travelers     </th> 
              <th>Seats</th>  
              <th>Checked Bags Included</th> 
              <th>Customer BC Id</th> 
              
             
            </tr> 
            <tr> 
              <td>Mohit Rao</td> 
              <td>8D</td> 
              <td>0 Bags</td> 
              <td>********3rcyhKhufLhd</td>
              
            </tr> 
            
              </table>
              <br>
              <p>
                <a routerLink="/details" target="popup" 
                onclick="window.open('http://localhost:4200/details','popup','width=80vw,height=80vh'); return false;">Sharing Car available at Denver</a>
              </p>
              <p>
                <a href="">Sharing Room/Apt/Condo available at Denver</a>
              </p>
              <br>
            <a  routerLink="/confirmation"><button class="purchase">Purchase and Book trip</button></a>
    </div>
    </div>