<div style="display:flex">
    <div>
  <img src="./assets/img/car2.jpg">
    </div>
  <div class="main">
  <p>STANDARD SUV<br>
  Mitsubishi Outlander Sel<br>
  <img class="trust" src="./assets/img/head count.png"> 5 <br>
  Automatic Transmission <br>
  Pickup- 36 Carson Road Station<br>
  P2 Building 36,Denver Colorado,<br>
  USA,07114<br>
  Trust Factor <img class="trust" src="./assets/img/images.jpg"><br>
  <br>
  <img class="icon" src="./assets/img/car icon.png">
  <img class="icon" src="./assets/img/icon for person.jpg">
  
  </p>
  <button class="share" (click)="close()">Send Request</button>
  </div>
  </div>
  