.sub-header-signin{
    margin-right: 0.2rem;
    color: orange;
}

.flight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hotel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}